$black:#333;
$green:#47BD96;
$lightGreen:#E4EEEE;
$mediumGreen:#F7FEFF;
$gray:#BEBEBE;
$lightGray:#E3E3E3;
$mediumGray:#E8E8E8;
$orange:#FF5B00;
$blue:#0088D2;
$appleGreen:#00C82F;
$red:#F12508;
$yellow:#F2C600;
$lightYellow:#FFFEF7;


